.modal {
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: #11111192;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: clamp(300px, 50%, 550px);
  height: clamp(200px, 50%, 400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  padding: 30px;
  color: #eee;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 40px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  color: #eee;
  background-color: #111;
  border: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #eee;
  color: #111;
}
