@import url("https://fonts.cdnfonts.com/css/sacramento");

@keyframes loading {
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.message {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 3px;
  margin: 1rem;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1s 1 forwards;
}

.blink {
  opacity: 0;
  animation: blink 2s ease-in-out 1s infinite;
}

.loader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
}

.cell {
  width: 2px;
  height: 2px;
  background-color: #eee;
  margin-bottom: 3px;
  opacity: 0;
  border-radius: 2px;
}

.cell:nth-child(1) {
  animation: loading 3s ease-in-out 2s infinite;
}
.cell:nth-child(2) {
  animation: loading 3s ease-in-out 2.3s infinite;
}
.cell:nth-child(3) {
  animation: loading 3s ease-in-out 2.6s infinite;
}
.cell:nth-child(4) {
  animation: loading 3s ease-in-out 2.9s infinite;
}
